<!DOCTYPE html>
<html>
  <head>
    <title>Amenitiz - CheckOut</title>
    <link rel="icon" href="https://www.amenitiz.com/wp-content/uploads/2022/10/cropped-FAVICON-CABIN-WHITE-BLUE-BACKGROUND_512x512-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://www.amenitiz.com/wp-content/uploads/2022/10/cropped-FAVICON-CABIN-WHITE-BLUE-BACKGROUND_512x512-192x192.png" sizes="192x192" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white-700">
    <main class="container mx-auto mt-28 px-5 flex bg-white-300">
      <%= yield %>
    </main>
  </body>
</html>
